/* FONT */

@font-face {
  font-family: "space mono";
  src: url("/font/SpaceMono-Regular.ttf");
}

/* BODY */

body {
  background-color: #121212;
  color: #fff;
  font-family: "space mono", roboto;
}

/* FONT */

h3 {
  font-size: 1.9rem;
}

p {
  font-size: 1.7rem;
}

span {
  font-size: 1.5rem;
  font-weight: bold;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
  display: block;
}